.vscode
weather_api_key.txt
data/weather_alarms_regions/all_weather_by_hour_v2.csv
data/weather_alarms_regions/alarms.csv
data/final_data/alarms.csv
data/final_data/all_isw.csv
data/final_data/all_hourly_weather_events.csv
model/8_svc_v1.pkl
model/alarm_classifier_v2.pkl
model/alarm_classifier_v1.pkl
model/word_count_vector_calculated.pkl
model/tfidf_vector_calculated.pkl
model/8_random_forest_v2.pkl
.idea
.gitignore
/model
__pycache__
Key pair.pem
Proga2.pem