{% extends 'base.html' %}

{% block title %}
  <h3 class="not-bold">Alarm forecast for next 12 hours, for all regions</h3>
{% endblock %}

{% block main %}
  {% if chosen_date and region %}
  <div class="table-container">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Time</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        {% for schedule in schedules %}
        <tr>
          <th scope="row">{{ time_array[0] }}</th>
          <td>{{ schedule[region_idx][0] }}</td>
        </tr>
        <tr>
          <th scope="row">{{ time_array[1] }}</th>
          <td>{{ schedule[region_idx][1] }}</td>
        </tr>
        <tr>
          <th scope="row">{{ time_array[2] }}</th>
          <td>{{ schedule[region_idx][2] }}</td>
        </tr>
        <tr>
          <th scope="row">{{ time_array[3] }}</th>
          <td>{{ schedule[region_idx][3] }}</td>
        </tr>
        <tr>
          <th scope="row">{{ time_array[4] }}</th>
          <td>{{ schedule[region_idx][4] }}</td>
        </tr>
        <tr>
          <th scope="row">{{ time_array[5] }}</th>
          <td>{{ schedule[region_idx][5] }}</td>
        </tr>
        <tr>
          <th scope="row">{{ time_array[6] }}</th>
          <td>{{ schedule[region_idx][6] }}</td>
        </tr>
        <tr>
          <th scope="row">{{ time_array[7] }}</th>
          <td>{{ schedule[region_idx][7] }}</td>
        </tr>
        <tr>
          <th scope="row">{{ time_array[8] }}</th>
          <td>{{ schedule[region_idx][8] }}</td>
        </tr>
        <tr>
          <th scope="row">{{ time_array[9] }}</th>
          <td>{{ schedule[region_idx][9] }}</td>
        </tr>
        <tr>
          <th scope="row">{{ time_array[10] }}</th>
          <td>{{ schedule[region_idx][10] }}</td>
        </tr>
        <tr>
          <th scope="row">{{ time_array[11] }}</th>
          <td>{{ schedule[region_idx][11] }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% endif %}