body{
  margin: 0;
  /* background: linear-gradient(to bottom right, rgba(1, 142, 1, 0.3),
   rgb(24, 218, 186, 0.3),
   rgba(24, 56, 218, 0.3)); */
  background-color: #0093E9;
  background-image: linear-gradient(130deg, #0093E951 0%, #80D0C751 62%);
  min-height: 100vh;
}

span.fs-4 {
  /* font-weight: 400; */
  background-color: #ffffff5f;
  border-radius: 5px;
  padding: 8px 16px;
  box-shadow: 0 6px 70px rgba(0, 0, 0, 0.3);
}

a.nav-link {
  background-color: #ffffff5f !important;
  color: black !important;
  border-radius: 5px;
  padding: 8px 16px;
  box-shadow: 0 2px 70px rgba(0, 0, 0, 0.3);
  margin-left: 20px;
}

header{
  margin-top: 10px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

h3 {
  text-align: center;
  margin-top: 0;
}
.not-bold {
  font-weight: normal;
  margin-bottom: 15px;
}

div.main {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.4);
  padding: 40px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
  border-radius: 30px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-label {
  font-size: larger;
  /* margin-top: 1rem; */
}

.form-control {
  width: 100%;
  margin-bottom: 1rem;
}

.btn {
  margin-top: 2rem;
}

h5.about {
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  margin: 40px 0;
}


h2.about {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin: 40px 0;
}
div.about {
  margin: 40px 0;
  margin-left: 18rem;
  margin-right: 18rem;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 10px;
  padding-left: 40px;
  padding-right: 40px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
  border-radius: 30px;
}

p.about {
  margin: 20px 0;
}

p,
li {
  font-size: larger;
}
table {
  margin: 0 4rem;
}
.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.4);
  padding-top: 5px;
  padding-bottom: 5px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
  border-radius: 15px;

}

p.small {
  font-size: 16px;
  color: rgb(81, 81, 81);
}


div.col-md-5 {
  position: absolute;
  top: 23%;
  left: 15%;
  width:250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 10px;
  padding-bottom: 15px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
  border-radius: 15px;

}

p.authors {
  margin-right: 1.5rem;
  font-size: 17px;
}

.heading{
  /* text-shadow: 0 6px 6px rgba(0, 0, 0, 0.1); */
  font-weight: 400;
  letter-spacing: 2px;
}

.ui-datepicker {
  margin: 5px auto 0;
  font: 12pt Arial, sans-serif;
}
.ui-datepicker-header {
  background: #ffffff !important;
  border-width: 1px 0 0 0 !important;
  border-style: solid !important;
  border-color: #111 !important;
}

.ui-datepicker-title {
  text-align: center !important;
  font-size: 17px !important;
  font-weight: lighter !important;
}

.ui-datepicker-prev {
  float: left !important;
  cursor: pointer !important;
  background-position: center -30px !important;
}

.ui-datepicker-next {
  float: right !important;
  cursor: pointer !important;
  background-position: center 0px !important;
}

.ui-datepicker thead {
  background-color: #d4f7ff !important;
}

.ui-datepicker th {
  background-color:#ffffff !important;
  text-transform: uppercase !important;
  font-size: 8pt !important;
  color: #000000 !important;
  text-shadow: 1px 0px 0px #fff !important;
  filter: dropshadow(color=#fff, offx=1, offy=0) !important;
}

.ui-datepicker tbody td {
  padding: 0 !important;
}

.ui-datepicker tbody td:last-child {
    border-right: 0px !important;
}

.ui-datepicker tbody tr {
  border-bottom: 1px solid #bbb !important;
}

.ui-datepicker tbody tr:last-child {
    border-bottom: 0px !important;
}

.ui-datepicker a {
  text-decoration: none !important;
}


.ui-datepicker td span, .ui-datepicker td a {
  display: inline-block !important ;
  text-align: center !important;
  width: 30px !important;
  height: 30px !important;
  line-height: 30px !important;
  color: #ffffff !important;
}

.ui-datepicker-calendar .ui-state-default {
  background: linear-gradient(130deg, #ffffff, #d3f0f8)!important;
  color:#000 !important;
  height:40px !important;
  width:40px !important;
  border: 0px !important;
}

.ui-datepicker-calendar .ui-state-active {
  background: linear-gradient(130deg, #91d3f7, #66b1f8) !important;
  position: relative !important;
  margin: -1px !important;
}
.ui-datepicker-calendar td{
  border: 1px solid #D8D8D8 !important;
}

.ui-datepicker-month {
  position: relative;
  padding-right: 15px;
  color: #000000;
}
.ui-datepicker-year {
  padding-left: 8px;
  color: #000000;
}
