{% extends 'base.html' %} {%block title%}
<div class="about">
<h2 class="about">Welcome to our site!</h2>
  <p class="about">
    We provide <b>real-time alarm predictions</b> for regions using advanced
    machine learning models. Our system uses a combination of <b>weather</b> and
    <b>lemmatized text</b> data from the Institute for the Study of War (ISW) to
    make 24-hour alarm predictions for specific regions.
  </p>
  <p class="about">
    Our machine learning models are trained to analyze various weather and text
    data parameters, such as <b>wind speed, humidity, temperature</b>, and other
    relevant factors that could influence the likelihood of an alarm. By
    analyzing this data, our models can accurately predict the likelihood of an
    alarm occurring within the next 24 hours.
  </p>

  <p class="about">
    The site is running on a <b>Random Forest Classifier</b> model, which is
    trained on data through <b>January 20 2023</b>. In the future, we plan to
    retrain the models using the latest information.
  </p>
  <p class="about">
    Also under development is the ability to give the user the function of
    <b>selecting a model</b> for the predictions, with their description and
    accuracy.
  </p>
  <h5 class="about">Authors</h5>
  {%endblock%}
</div>
{%block main%}
<p class="authors">Melnyk Danyil</p>
<p class="authors">Zaitsev Vadym</p>
<p class="authors">Shevchenko Bogdan</p>
<p class="authors">Yurchenko Artur</p>
{%endblock%}
