{% extends 'base.html' %} {% block main %}
<div class="main">
  <h1 class="heading">Make an alarm forecast for your</h1>
  <form id="triangle-form" action="/calculate" method="post">
    <div class="col-sm-6">
      <label for="date" class="form-label">Date</label>
      <input
        type="text"
        name="date"
        class="form-control"
        id="date"
        placeholder="YY-mm-dd"
        value=""
        required=""
      />
      <p class="small">*(between 2023-01-20 and tomorrow)</p>
    </div>
    <div class="col-sm-6">
      <label for="time" class="form-label">Time</label>
      <input
        type="text"
        name="time"
        class="form-control"
        id="time"
        placeholder="HH:MM"
        value=""
        required=""
      />
    </div>
    <div class="col-sm-6">
      <label for="region" class="form-label">Region</label>
      <input
        type="text"
        name="region"
        class="form-control"
        id="region"
        placeholder="'All' by default"
        autocomplete="off"
      />
    </div>
    <button class="w-100 btn btn-primary btn-lg" type="submit">Predict</button>
  </form>
</div>
{% endblock %}
