main {
  display: flex;
  justify-content: center;
  align-items: center;
}

h3 {
  text-align: center;
  margin-top: 0;
}
.not-bold {
  font-weight: normal;
}

div.main {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-label {
  font-size: larger;
  /* margin-top: 1rem; */
}

.form-control {
  width: 100%;
  margin-bottom: 1rem;
}

.btn {
  margin-top: 2rem;
}

h1.how {
  margin-top: 2rem;
  margin-left: 5rem;
}

p,
li {
  font-size: larger;
}
table {
  margin: 0 4rem;
}
.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
p.small{
  font-size: 16px;
}
